<div [ngStyle]="{'background-image': getImagePath(), 'background-size':'cover' }">
    <mat-card class="box" >
        <div class="mainDivSecondComHome">
            <h1>WELLCOME</h1>
            <h3>
             We are Fresh Market
            </h3>
            <h4>
            Your online grocery store just around the corner
            </h4>

            <div class="DivsTextSecondComHome">
                In our website you will find fresh fruits and vegetables for you to select from,  
                together with the best products from our local produce and imported ones
            </div>
            <div class="DivsTextSecondComHome">
                We wish you to enjoy on your buying experience.
                PS. if you are already a registered client you will be notified about our sales and discounts that are updating daily, 
                So hurry and register !
            </div>
        </div>
      <div class="wellcomeBoxImageDiv" >
      <img src="../../../assets/upload/storeLogo.png" alt="" height="140" >
    </div>
    </mat-card>
  </div>

